Resources/*
code/venv/bin/pip3.11
code/venv/bin/pip3
code/venv/bin/python
code/venv/bin/python3
code/venv/bin/python3.11
code/venv/bin/pysemver
code/venv/bin/pip
code/venv/bin/numpy-config
code/venv/bin/isympy
code/venv/bin/f2py
code/venv/bin/Activate.ps1
code/venv/bin/activate.fish
code/venv/bin/activate.csh
code/venv/bin/activate
code/venv/julia_env/Manifest.toml
code/venv/julia_env/Project.toml
code/venv/julia_env/pyjuliapkg/install/bin/julia
/code/venv
